Golang: logclient does not check signature of STH

Currently the Golang `logclient` does not check the the signature returned by the `/ct/v1/get-sth` as defined in RFC 6962 section 4.3. 

Seems that there is already a function `SignatureVerifier.VerifySTHSignature()` in `signatures.go` that can be used to check the signature of a STH, just need to integrate it with `logclient` to actually check the sig.

Related to this, `getConsistencyProofResponse`, `getAuditProofResponse` and `getEntryAndProofResponse` should probably be checking against STH for integrity as well.

Fixed by #1316.