Should CT Monitor check if SCT is older than MMD?

RFC 6962 section 3.5 (https://tools.ietf.org/html/rfc6962#section-3.5) says:
> Each log MUST produce on demand a Signed Tree Head that is no older
> than the Maximum Merge Delay.

Looking at the python implementation, the `maximum_merge_delay` isn't used in any checks by the monitor. Is this something that should be implemented? Thanks!

The MMD of a particular log isn't known to the monitor (each log state their MMD to Chromium when they apply for inclusion, and it should be no more than 24 hours, but it doesn't have to be). I suppose it could at least check that the STH is no older than 24 hours?

I see. http://www.certificate-transparency.org/known-logs/all_logs_list.json includes the MMD of each known log. Perhaps that could be a source of truth (since it is signed)?

I'm curious, can someone remind me exactly why a log is required to produce a fresh STH, even if no new entries have been added? (I'm guessing a frozen log won't be able to do this for example)

Going and fetching all_logs_list.json might be a way, although the log you're monitoring might not be in there? But if it is, you could find the real MMD?

Alternatively, add a MMD field to the `logs.config` file (https://github.com/google/certificate-transparency/blob/master/python/ct/config/logs.config) and update the `CTLogMetaData` proto (https://github.com/google/certificate-transparency/blob/879395cc4aeecdbe0452249b59c84795bb231638/python/ct/proto/client.proto#L28)?

I updated the subject of the issue. I think you meant "STH" there, rather than "SCT"? This is indeed a desirable feature, I'd say, but I'm not sure when we'll get to it.

Thanks :)

Oh, and of course, pull requests are welcome. :smiley: 

On Wed, 2 Dec 2015 at 17:35 Adam Eijdenberg <notifications@github.com>
wrote:

> I'm curious, can someone remind me exactly why a log is required to
> produce a fresh STH, even if no new entries have been added? (I'm guessing
> a frozen log won't be able to do this for example)
>
Otherwise an evil log could produce an SCT for a cert, then not actually
show it until challenged, at which point it produces a backdated STH
including that cert.


On Wed, 2 Dec 2015 at 18:16 David Huang <notifications@github.com> wrote:

> Alternatively, add a MMD field to the logs.config file (
> https://github.com/google/certificate-transparency/blob/master/python/ct/config/logs.config)
> and update the CTLogMetaData proto (
> https://github.com/google/certificate-transparency/blob/879395cc4aeecdbe0452249b59c84795bb231638/python/ct/proto/client.proto#L28
> )?
>

Or use the config with all_logs_list.json as a fallback.
